
header{
    display: flex;
    justify-content: center;
    height: 200px;
    background-color: skyblue;
    color: white;
    font-size: 50px;
}
#content{
    display: flex;
    justify-content: center;
    height: 80px;             
}
button{
    margin: 10px;
    border: solid black 4px;
    background-color: grey;
    color: white;
    font-weight: bold;
}
button:hover{
    background-color: orange;
    color: white;
    font-weight: bold;
}
input{
    margin: 20px;
}
#resultados{
    display: flex;
    flex-direction: row;
    height: 800px;   
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(18, 37, 122);

}
#today{  
    width: 32%;
    border: solid black 1px;
    margin-left: 1%;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    padding: 10px;
}
#next10days{     
    width: 32%;
    border: solid black 1px;
    margin-left: 1%;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    border-radius: 10%;
    padding: 10px;
}
#map{     
    width: 32%;
    border: solid black 1px;
    margin-left: 1%;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    padding: 10px;
    
}
table, th, td{
    border: solid 1px black;
    border-collapse: collapse;
    
}

th, td{
    padding: 5px;
    width: 300px;
}


